:root {
  --dark: #808080;
  --light: lightblue;
  --white: white;
  --black: black;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(110, 42, 155, 1);
  color: var(--white);
}

section{
  display: flex;
}